<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<br>
<p>********************</p>
<br>

<h2>Looking for a bed</h2>
<p><p><%= link_to "Find a bed", ads_path%></p></p>
<p> View my bookings</p>
<br>
<p>********************</p>
<br>
<h2>My ads</h2>
<p><%= link_to "Put an ad", new_ad_path%></p>


<p><%= link_to "View my ads", myads_path%></p>
<p>Confirm bookings</p>
