<h1>Find the perfect bed for a nap or for the night !</h1>
<br>
<br>
<p>********************</p>
<br>

<h2>Looking for a bed</h2>

<p><p><%= link_to "Find a bed", ads_path%></p></p>



<br>
<p>********************</p>
<br>
<h2>My ads</h2>
<% if current_user == nil %>
  <%= link_to "Put an ad", new_user_session_path  %>
<% else %>
  <%= link_to "Put an ad", new_ad_path%>
<% end %>

<br>


<br>
<br>
<p>Confirm bookings</p>









