<h1>Find the perfect bed for a nap or for the night !</h1>
<br>
<br>
<p>********************</p>
<br>

<div class="container">

  <div class="card">
    <h2>Looking for a bed</h2>
      <p><%= link_to "Find a bed", ads_path%></p>
  </div>
<br>
<br>
  <div class="card">
    <h2>My ads</h2>
      <% if current_user == nil %>
        <%= link_to "Put an ad", new_user_session_path  %>
      <% else %>
        <%= link_to "Put an ad", new_ad_path%>
      <% end %>
  </div>

  <div class="card">
    <br>
    <br>
    <p>Confirm bookings</p>
  </div>

</div>








