<h1> my bookings</h1>

<% @bookings.each do |booking| %>
<h2>description: <%= booking.ad.description %></h2>
  <p>host: <%= booking.ad.user.email %></p>
  <p><%= link_to "Cancel my booking", booking_path(booking), method: :delete%></p>
<% end %>


