<h1>My ads</h1>
<br>
<ul>
<% @ads.each do |ad|%>
<li>
  <p><%= link_to "#{ad.title}", ad_path(ad.id)  %> ==> renter:
  <%= if ad.bookings.last == nil
         "This bed is not rented"
      else  ad.bookings.last.user.email
      end %>
    </p>
<% end %>
</li>
</ul>
