<h1>My ads</h1>
<br>
<ul>
<% @ads.each do |ad|%>
<li>
  <p><%= ad.description  %> ==> renter:
  <%= if ad.bookings.last == nil
         "This bed is not rented"
      else  ad.bookings.last.user.email
      end %> -- <%= link_to "See my ad", ad_path(ad.id)%>
    </p>
<% end %>
</li>
</ul>
