<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<br>
<p>********************</p>
<br>

<h2>Looking for a bed</h2>
<p>Find a bed</p>
<p> View my bookings</p>
<br>
<p>********************</p>
<br>
<h2>Publish an ad</h2>
<p>Put an ad</p>
<p>View my ads</p>
<p>Confirm bookings</p>
