.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.nav-item {
color: grey;
font-weight: bold;
}

.nav-h1 {
color: grey;
font-size:50px;
font-family: sans-serif;
}

.nav-h1:hover {
color: black;
font-size:49px;
font-family: sans-serif;
}

.nav-h1:link {
 text-decoration:none; 
}


